﻿

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>@ViewBag.Title</title>
    <link href="../../Content/simpleClass.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery.selectbox.css")" rel="stylesheet" type="text/css" />
    <link href="../../Content/978Grid.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.blockUI.js" type="text/javascript"></script>
    <script src="../../Scripts/messageBox.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.selectbox-0.1.3.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.tablescroll.js" type="text/javascript"></script>
    <script language="javascript">
        jQuery(document).ready(function () {
            var hashes = window.location.href.slice(window.location.href.indexOf('//') + 1).split('/');
            switch (hashes[2]) {
            case "":
                $("#menuUser").css('color', '#EB922D');
                break;
            case "Home":
                $("#menuUser").css('color', '#EB922D');
                break;
            case "Branch":
                $("#menuBranch").css('color', '#EB922D');
                break;
            case "Job":
                $("#menuJob").css('color', '#EB922D');
                break;
            case "Department":
                $("#menuDepartment").css('color', '#EB922D');
                break;
            case "Region":
                $("#menuRegion").css('color', '#EB922D');
                break;
            default:
            }

        });
    </script>
</head>

<body>
    <div class="header">

        <h2 class="logo green">UserManagement</h2>
        <div class="first grid7 ">
            @Html.Partial("_menu")
        </div>
        <div class="grid4 alignRight">
                @Html.Partial("_logOn")
        </div> 
    </div>
    
    <div class="container fancyBorder clear">
        @{Html.RenderPartial("_messageBox");}
        @RenderBody()
    </div>
    <div class="footer">
        
    </div>
</body>
</html>
