﻿
<div class="menu">
    <ul class="menu">
        <li>
            <a href="/Home" id="menuUser" target="_self" >Użytkownicy</a>
        </li>
        <li>
            <a href="/Job" id="menuJob" target="_self" >Stanowiska</a>
        </li>
        <li>
            <a href="/Branch" id="menuBranch" target="_self" >Oddziały</a>
        </li>
        <li>
            <a href="/Department" id="menuDepartment" target="_self" >Jednostki organizacyjne</a>
        </li>
        <li>
            <a href="/Region" id="menuRegion" target="_self" >Regiony</a>
        </li>
    </ul>
    
    
    
    
    
</div>