﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>LogOn</title>
    <link href="../../Content/simpleClass.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/978Grid.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery.selectbox.css")" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery-1.4.4.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.selectbox-0.1.3.js" type="text/javascript"></script>
</head>
<body>
    <script language="javascript">
        function submitenter(myfield, e) {
            var keycode;
            if (window.event) keycode = window.event.keyCode;
            else if (e) keycode = e.which;
            else return true;

            if (keycode == 13) {
                myfield.form.submit();
                return false;
            }
            else
                return true;
        }

        jQuery(document).ready(function () {
            $("#loginContainer").fadeIn(2000);
            
        });
    </script>
    @Html.ValidationSummary(true, "")
    @using (Html.BeginForm("LogOn", "Login", FormMethod.Post, new { name = "frmLogin" } )) {
        <div id="loginContainer" class="loginContainer pb20" style="display: none; min-height: 600px;">
            <div class="">
                    <h2 class="green pt10 pl10">User Management</h2>
                </div>
            <div class="first grid8 fancyBorder">
                <div class="first grid3 pt25 alignRight">
                    @Html.Label("Login:")
                </div>
                <div class=" grid3 pt10 alignLeft">
                    @Html.TextBox("tbxLogin", null, new { @class = "rounded", onKeyPress = "return submitenter(this,event)" })
                </div>
                <div class="first grid3 pt15 alignRight">
                    @Html.Label("Hasło:")
                </div>
                <div class=" grid3 alignLeft">
                    @Html.Password("tbxPassword", null, new { @class = "form-login", onKeyPress = "return submitenter(this,event)" })
                </div>
                <div class="first grid3 pt15 alignRight">
                    @Html.Label("Wybierz firmę:")
                </div>
                <div class=" grid3 alignLeft">
                    @Html.DropDownList("ddlDirectory", ViewBag.DomainList as IEnumerable<SelectListItem>, "Wybierz firmę", new { @class = "login-box-fieldDDL", onKeyPress = "return submitenter(this,event)" })
                </div>        
                <div class="first grid3 pt15 alignRight">
                    
                </div>
                <div class=" grid3 pb10 alignLeft">
                    <input type="button" onclick="document['frmLogin'].submit()" value="Zaloguj" />
                </div>            
            </div>
        </div>
        }  
</body>
</html>
