body
{
	margin:0;
    padding:0;
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #086E4B;
}

a:hover {
    font-weight: bolder;
    color: #29A33F;
}

a.active {
    font-weight: bolder;
    color: #EB922D;
}

/* Styles for Master*/

div
{
	margin:0;
    padding:0;
}

menu {
    width: 100%;
}

.menu ul {
    margin: 0 0 0 0;
}
.menu ul li 
{
    padding-left: 10px;
    display: inline-block;
}

div.header
{
	position:static;
	margin-top:0px;
	padding-top:17px;

	margin:auto;
	width:980px;
}



div.separator
{
	width:980px;
	margin:auto;
}

h2
{
	margin-top:0px;
	font-family:verdana,geneva,arial,helvetica,sans-serif;
	font-size:18px;
	font-weight:bold;	
}

h2.logo
{
	margin-top:0px;
	padding-top:10px;
	margin-bottom:10px;
	padding-left:75px;
	font: bold 44px "Calibri", Arial;
	font-variant:small-caps;	
}



div.container
{	
	min-height: 600px;
}

div.footer
{
	width:960px;
	padding:10px;	
	margin:auto;
	margin-bottom:30px;
	min-height: 20px;
}

/*---------------------------------------------------------*/



/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}


/*My own style... */

input {
	border: 1px solid #086E4B;
	background-color: #FFFFFF;
	color: #086E4B;
    cursor: pointer;
    font-weight: bold;
	padding: 6px 6px 6px 6px;
    width: 202px;
}

input[type="button"], input[type="submit"]{
    width: 216px;
}

select {
	/*border: 1px solid #2A2E31;
	background-color: #2D3035;
	color: #BCBCBC;*/
	border: 1px solid #086E4B;
	background-color: #FFFFFF;
	color: #086E4B;
	cursor: pointer;
    font-weight: bold;
	padding: 6px 6px 6px 6px;
	width: 217px;
}

.search {
    padding: 6px 15px 6px 30px;
    margin: 3px;
}



.green {
    color: #086E4B;
}

.fancyBorder {
    border:1px solid #086E4B;
    -moz-border-radius: 1em 4em 1em 4em;
    border-radius: 1em 4em 1em 4em;
}