﻿@model MvcUserManagement.Models.CreateRegion

@{
    ViewBag.Title = "Dodaj region";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="first pt20 pl10 green grid10">
    <h2>Dodaj region - @ViewBag.CompanyName</h2>
</div>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.IdCompany)
        <div class="first grid2 pt20 alignRight">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="first grid2 pt20 alignRight">
            
        </div>
        <div class="grid8 pt10 alignLeft">
            <input type="submit" value="Dodaj" />
        </div>

}

<div class="first grid10 pt20 pl10 alignLeft">
    @Html.ActionLink("Powrót do listy regionów", "Index")
</div>

