﻿@model MvcUserManagement.Models.Region

@{
    ViewBag.Title = "Edycja regionu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="first pt20 pl10 green grid10">
    <h2>Edycja regionu - @ViewBag.CompanyName</h2>
</div>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.IdRegion)

        <div class="first grid2 pt20 alignRight">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="first grid2 pt20 alignRight">
            @Html.LabelFor(model => model.CreateDate)
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.TextBoxFor(model => model.CreateDate, new { disabled = "disabled", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.CreateDate)
        </div>

        <div class="first grid2 pt20 alignRight">
            @Html.LabelFor(model => model.ChangeDate)
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.TextBoxFor(model => model.ChangeDate, new { disabled = "disabled", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.ChangeDate)
        </div>

        <div class="first grid2 pt20 alignRight">
            @Html.LabelFor(model => model.IsActive)
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>
            @Html.HiddenFor(model => model.IdCompany)
        <div class="first grid2 pt20 alignRight">
            
        </div>
        <div class="grid8 pt10 alignLeft">
            <input type="submit" value="Zapisz" />
        </div>
}

<div class="first grid10 pt20 pl10 alignLeft">
    @Html.ActionLink("Powrót do listy regionów", "Index")
</div>

