﻿@{
    ViewBag.Title = "Lista regionów";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script type="text/javascript">
    function findRegion() {
        $.ajax({
            url: "/Region/GetRegionsList",
            type: "POST",
            data: ({ name: $("#tbxRegionName").val(), idCompany: $("#ddlCompany").val(), toTake: $("#Count").val() }),
            async: false,
            success: function (resp) {
                deleteTableRows("tblRegions");
                $.each(resp.regionList, function (index, region) {
                    checkedActive = "";
                    if (region.IsActive) { checkedActive = "checked='checked'" }

                    $("#tblRegions tbody").append("<tr><td><a href='Region/EditRegion?idRegion=" + region.IdRegion + "'> " + region.Name + "</a></td>" +
                    "<td><input type='checkbox' " + checkedActive + " value='" + region.IsActive + "' disabled='disabled'/></td>" +
                    "</tr>");

                });
                addPaging(1, resp.count);
            }
        });
    };

    function deleteTableRows(tableName) {
        $("#" + tableName + " tbody tr").remove();
        $("#tblRegionsPaging").empty();
    };

    function getPage(pageNo) {
        $.ajax({
            url: "/Region/GetNextPage",
            type: "POST",
            data: ({ name: $("#tbxRegionName").val(), idCompany: $("#ddlCompany").val(), toTake: $("#Count").val(), page: pageNo }),
            async: false,
            success: function (resp) {
                    deleteTableRows("tblRegions");
                $.each(resp.regionList, function (index, region) {
                    checkedActive = "";
                    if (region.IsActive) { checkedActive = "checked='checked'" }

                    $("#tblRegions tbody").append("<tr><td><a href='Region/EditRegion?idRegion=" + region.IdRegion + "'> " + region.Name + "</a></td>" +
                    "<td><input type='checkbox' " + checkedActive + " value='" + region.IsActive + "' disabled='disabled'/></td>" +
                    "</tr>");

                });
                addPaging(pageNo, resp.count);
            }
        });
    };

    function addPaging(pageNumber, counter) {
        var paging = "<a href='#' onclick='getPage(1)'><<</a>";

        var i = (parseInt(pageNumber / 10) * 10);
        var tempCounter = (parseInt(pageNumber / 10) * 10) + 9;
        if (tempCounter > counter) {
            tempCounter = counter;
        }
        if (i >= 10) {
            paging += "<a href='#' onclick='getPage(" + (i - 1) + ")'>...</a>";
        }
        for (i; i <= tempCounter; i++) {
            if (i > 0) {
                if (i == pageNumber) {
                    paging += "<a href='#' onclick='getPage(" + i + ")' style='color:#EB922D;'>" + i + "</a> ";
                } else {
                    paging += "<a href='#' onclick='getPage(" + i + ")'>" + i + "</a> ";
                }

                if (i != counter) {
                    paging += "| ";
                }
            }
        }
        if (i < counter) {
            paging += "<a href='#' onclick='getPage(" + i + ")'>...</a>";
            paging += "<a href='#' onclick='getPage(" + counter + ")'>>></a>";
        }
        $("#tblRegionsPaging").empty();
        $("#tblRegionsPaging").append(paging + "</a>");
        $("#tblRegions").tableScroll({ height: 450, width: 950 });
    }

    function submitenter(myfield, e) {
        var keycode;
        if (window.event) keycode = window.event.keyCode;
        else if (e) keycode = e.which;
        else return true;

        if (keycode == 13) {
            findRegion();
            return false;
        }
        else
            return true;
    };

    function canAddRegion(CompanyId) {
        $.ajax({
            url: "/Home/CanAddUser",
            type: "POST",
            data: ({ idCompany: CompanyId }),
            async: false,
            success: function (resp) {
                if (resp.responce) {

                    $("#divAddRegion").empty();
                    $("#divAddRegion").append("<input type='button' id='addNewRegion' onclick='addRegion(" + CompanyId + ");' value='Dodaj region'/>");
                }
                else {
                    $("#divAddRegion").empty();
                }
            }
        });
    };

    function addRegion(CompanyId) {
        window.location.href = "/Region/AddRegion?idCompany=" + CompanyId;
    };

    jQuery(document).ready(function () {
        $("#ddlCompany").change(function () {
            deleteTableRows("tblRegions");
            canAddRegion($("#ddlCompany").val());
        });
    });
</script>




<div class="first grid3 pt10 alignRight">
    <p>Wybierz firmę:</p>
</div>
<div class="grid3 pt10 alignLeft">
    @Html.DropDownList("ddlCompany", ViewBag.lstCompanies as IEnumerable<SelectListItem>, "--Wybierz firmę--")
</div>
<div class="first grid3 pt10 alignRight">

</div>
<div id="divAddRegion" class="grid3 pt10 alignLeft">

</div>
<div class="first grid3 pt10 alignRight">
    <p>Wyszukaj po nazwie:</p>
</div>
<div class="grid3 pt10 alignLeft">
    @Html.TextBox("tbxRegionName", null, new { onKeyPress = "return submitenter(this,event)" })
</div>

<div class="first grid3 pt10 alignRight">

</div>
<div class="grid3 pt10 alignLeft">
    <input id="btnWyszukaj" name="btnWyszukaj" onclick="findRegion()" type="button" value="Wyszukaj"/>
</div>
<div class="first grid3 pt10 alignRight">
    <p>ilość wyświetleń:</p>
</div>
<div class="grid3 pt10 pb20 alignLeft">
    <select id="Count">
        <option value=50>50</option>
        <option value=100>100</option>
        <option value=250>250</option>
        <option value=0>Wszystko</option>
    </select>
</div>
<table id="tblRegions" class=" pl10" style="clear: both;width: 967px">
    <thead>
    <tr class="green">
        <th>
            Nazwa
        </th>
        <th>
            Aktywny
        </th>
    </tr>
    </thead>
    <tbody>


</tbody>
</table>
<div id="tblRegionsPaging" class="pb40 pl10 pt10"></div>
