﻿@model MvcUserManagement.Models.Branch

@{
    ViewBag.Title = "Edycja oddziału";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    function popAddRegionShow() {
        var window = $('#addRegion');
        dialogBox(window);
        //$.blockUI({ message: $('#addRegion') });
    };

    function AddRegion() {
        $.ajax({
            url: "/Region/addJQueryRegion",
            type: "POST",
            data: ({ name: $("#addRegionName").val(), idCompany: $("#IdCompany").val() }),
            async: false,
            success: function (resp) {
                if (resp.IsExist) {
                    $("#addRegionComment p").remove();
                    $("#addRegionComment").append("<p>" + resp.Message + "</p>");
                }
                else {
                    $("#ddlRegions option").remove();
                    $("#addRegionComment p").remove();
                    $("#ddlRegions").append("<option value=''>--Wybierz region--</option>");
                    $.each(resp.lstRegion, function (index, lst) {
                        $("#ddlRegions").append("<option value='" + lst.Value + "'>" + lst.Text + "</option>");
                    });
                    $("#addRegionName").val('');
                    $.unblockUI();
                }
            }
        });
    };

    function unblock() {
        $.unblockUI();
        return false;
    };

    jQuery(document).ready(function () {
        $("#IsPK").change(function () {
            if ($("#IsPK:checked").val()) {
                $("#ddlBranches").removeAttr("disabled");
            }
            else {
                $("#ddlBranches").attr("disabled", "disabled");
            }
        });
    });

</script>

<div class="first pt20 pl10 green grid10">
    <h2>Edycja oddziału - @ViewBag.CompanyName</h2>
</div>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)


        @Html.HiddenFor(model => model.IdBranch)
        @Html.HiddenFor(model => model.IdCompany)

        <div class="first grid2 pt20 alignRight">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="first grid2 pt20 alignRight">
            @Html.LabelFor(model => model.NoBranch)
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.EditorFor(model => model.NoBranch)
            @Html.ValidationMessageFor(model => model.NoBranch)
        </div>

        <div class="first grid2 pt20 alignRight">
            @Html.LabelFor(model => model.CreateDate)
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.TextBoxFor(model => model.CreateDate, new { disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.CreateDate)
        </div>

        <div class="first grid2 pt20 alignRight">
            @Html.LabelFor(model => model.ChangeDate)
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.TextBoxFor(model => model.ChangeDate, new { disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.ChangeDate)
        </div>

        <div class="first grid2 pt20 alignRight">
            @Html.LabelFor(model => model.IsActive)
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.CheckBoxFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>

        <div class="first grid2 pt20 alignRight">
            @Html.LabelFor(model => model.IdRegion)
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.DropDownList("ddlRegions", ViewBag.lstRegions as IEnumerable<SelectListItem>, "--Wybierz region--")             
            <input type="button" onclick="popAddRegionShow();" value="Dodaj" />
        </div>

        <div class="first grid2 pt20 alignRight">
            @Html.LabelFor(model => model.IsPK)
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.CheckBoxFor(model => model.IsPK)
            @Html.ValidationMessageFor(model => model.IsPK)
        </div>

        <div class="first grid2 pt20 alignRight">
            @Html.LabelFor(model => model.IdParent)
        </div>
        <div class="grid8 pt10 alignLeft">
        @if (Model.IsPK)
        {
            @Html.DropDownList("ddlBranches", ViewBag.lstBranches as IEnumerable<SelectListItem>)
        }
        else
        {
            @Html.DropDownList("ddlBranches", ViewBag.lstBranches as IEnumerable<SelectListItem>, new { disabled = "disabled" })
        }
        </div>
        <div class="first grid2 pt20 alignRight">
            
        </div>
        <div class="grid8 pt10 alignLeft">
            <input type="submit" value="Zapisz" />
        </div>

}
<div class="first grid10 pt20 pl10 alignLeft">
    @Html.ActionLink("Powrót do listy oddziałów", "Index")
</div>
@*POPUPY DO DODAWANIA*@
<div id="addRegion" style="display:none;">
    <h4>Dodaj region</h4>
    <div class="pt10 pr5 alignRight floatLeft width50pc">
        Nazwa regionu: 
    </div> 
    <div class="alignLeft floatLeft width50pc ">    
        <input type="text" id="addRegionName" />
    </div>
    <div class="pt10 pr5 alignRight floatLeft width50pc">
    </div> 
    <div class="alignLeft pt10 floatLeft width50pc ">
        <span id="addRegionComment"></span>
    </div>
    <div class="pb10 pr5 alignRight floatLeft width50pc">
        <input type="button" id="btnAddRegion" onclick="AddRegion();" value="Dodaj" />
    </div>
    <div class="pb10 alignLeft floatLeft width50pc">
        <input type="button" id="btnCancelRegion" onclick="unblock();" value="Anuluj" />
    </div>
</div>
@*POPUPY DO DODAWANIA*@



