﻿@{
    ViewBag.Title = "Lista oddziałów";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function findBranch() {
        $.ajax({
            url: "/Branch/GetBranchesList",
            type: "POST",
            data: ({ name: $("#tbxBranchName").val(), idCompany: $("#ddlCompany").val(), toTake: $("#Count").val() }),
            async: false,
            success: function (resp) {
                deleteTableRows("tblBranches");
                $.each(resp.branchList, function (index, branch) {
                    var checkedPK = "";
                    if (branch.IsPK) { checkedPK = "checked='checked'" }
                    var checkedActive = "";
                    if (branch.IsActive) { checkedActive = "checked='checked'" }

                    $("#tblBranches tbody").append("<tr><td><a href='Branch/EditBranch?idBranch=" + branch.IdBranch + "'> " + branch.Name + "</a></td>" +
                    "<td>" + branch.NoBranch + "</td><td>" + branch.RegionName + "</td><td><input type='checkbox' " + checkedPK + " value='" + branch.IsPK + "' disabled='disabled'/></td>" +
                    "</td><td>" + branch.ParentName + "</td>" + "<td><input type='checkbox' " + checkedActive + " value='" + branch.IsActive + "' disabled='disabled'/></td>" +
                    "</tr>");

                });
                addPaging(1, resp.count);
            }
        });
    };

    function deleteTableRows(tableName) {
        $("#" + tableName + " tbody tr").remove();
        $("#tblBranchesPaging").empty();
    };

    function getPage(pageNo) {
        $.ajax({
            url: "/Branch/GetNextPage",
            type: "POST",
            data: ({ name: $("#tbxBranchName").val(), idCompany: $("#ddlCompany").val(), toTake: $("#Count").val(), page: pageNo }),
            async: false,
            success: function (resp) {
                deleteTableRows("tblBranches");
                $.each(resp.branchList, function (index, branch) {
                    var checkedPK = "";
                    if (branch.IsPK) { checkedActive = "checked='checked'" }
                    checkedActive = "";
                    if (branch.IsActive) { checkedActive = "checked='checked'" }

                    $("#tblBranches tbody").append("<tr><td><a href='Branch/EditBranch?idBranch=" + branch.Id + "'> " + branch.Name + "</a></td>" +
                    "<td>" + branch.NoBranch + "</td><td>" + branch.RegionName + "</td><td><input type='checkbox' " + checkedPK + " value='" + branch.IsPK + "' disabled='disabled'/></td>" +
                    "</td><td>" + branch.ParentName + "</td>" + "<td><input type='checkbox' " + checkedActive + " value='" + branch.IsActive + "' disabled='disabled'/></td>" +
                    "</tr>");

                });
                addPaging(pageNo, resp.count);
            }
        });
    };

    function addPaging(pageNumber, counter) {
        var paging = "<a href='#' onclick='getPage(1)'><<</a>";

        var i = (parseInt(pageNumber / 10) * 10);
        var tempCounter = (parseInt(pageNumber / 10) * 10) + 9;
        if (tempCounter > counter) {
            tempCounter = counter;
        }
        if (i >= 10) {
            paging += "<a href='#' onclick='getPage(" + (i - 1) + ")'>...</a>";
        }
        for (i; i <= tempCounter; i++) {
            if (i > 0) {
                if (i == pageNumber) {
                    paging += "<a href='#' onclick='getPage(" + i + ")' style='color:#EB922D;'>" + i + "</a> ";
                } else {
                    paging += "<a href='#' onclick='getPage(" + i + ")'>" + i + "</a> ";
                }

                if (i != counter) {
                    paging += "| ";
                }
            }
        }
        if (i < counter) {
            paging += "<a href='#' onclick='getPage(" + i + ")'>...</a>";
            paging += "<a href='#' onclick='getPage(" + counter + ")'>>></a>";
        }
        $("#tblBranchesPaging").empty();
        $("#tblBranchesPaging").append(paging + "</a>");
        $("#tblBranches").tableScroll({ height: 450, width: 950 });
    }

    function submitenter(myfield, e) {
        var keycode;
        if (window.event) keycode = window.event.keyCode;
        else if (e) keycode = e.which;
        else return true;

        if (keycode == 13) {
            findBranch();
            return false;
        }
        else
            return true;
    };

    function canAddUser(CompanyId) {
        $.ajax({
            url: "/Home/CanAddUser",
            type: "POST",
            data: ({ idCompany: CompanyId }),
            async: false,
            success: function (resp) {
                if (resp.responce) {

                    $("#divAddBranch").empty();
                    $("#divAddBranch").append("<input type='button' id='addNewBranch' onclick='addBranch(" + CompanyId + ");' value='Dodaj oddział'/>");
                }
                else {
                    $("#divAddBranch").empty();
                }
            }
        });
    };

    function addBranch(CompanyId) {
        window.location.href = "/Branch/AddBranch?idCompany=" + CompanyId;
    };

    jQuery(document).ready(function () {
        $("#ddlCompany").selectbox();
        $("#Count").selectbox();
        $("#ddlCompany").change(function () {
            deleteTableRows("tblBranches");
            canAddUser($("#ddlCompany").val());
        });
    });
</script>

@{Html.RenderPartial("_messageBox");}

<div class="first grid3 pt10 alignRight">
    <p>Wybierz firmę:</p>
</div>
<div class="grid3 pt10 alignLeft">
    @Html.DropDownList("ddlCompany", ViewBag.lstCompanies as IEnumerable<SelectListItem>, "--Wybierz firmę--")
</div>
<div class="first grid3 pt10 alignRight">

</div>
<div id="divAddBranch" class="grid3 pt10 alignLeft">

</div>


<div class="first grid3 pt10 alignRight">
    <p>Wyszukaj po nazwie:</p>
</div>
<div class="grid3 pt10 alignLeft">
    @Html.TextBox("tbxBranchName", null, new { onKeyPress = "return submitenter(this,event)" })
</div>

<div class="first grid3 pt10 alignRight">

</div>
<div class="grid3 pt10 alignLeft">
    <input id="btnWyszukaj" name="btnWyszukaj" onclick="findBranch()" type="button" value="Wyszukaj"/>
</div>
<div class="first grid3 pt10 alignRight">
    <p>ilość wyświetleń:</p>
</div>
<div class="grid3 pt10 pb20 alignLeft">
    <select id="Count">
        <option value=50>50</option>
        <option value=100>100</option>
        <option value=250>250</option>
        <option value=0>Wszystko</option>
    </select>
</div>
<table id="tblBranches" class=" pl10" style="clear: both;width: 967px">
    <thead>
    <tr class="green">
        <th>
            Nazwa
        </th>
        <th >
            Numer
        </th>
        <th>
            Region
        </th>
        <th>
            Czy PK
        </th>
        <th>
             Oddział nadrzędny
        </th>
        <th>
            Aktywny
        </th>
    </tr>
    </thead>
    <tbody>


</tbody>
</table>
<div id="tblBranchesPaging" class="pb40 pl10 pt10"></div>