﻿@model MvcUserManagement.Models.User
@{
    ViewBag.Title = "Dodaj użytkownika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript">

    function popAddJobShow() {
        var window = $('#addJob');
        dialogBox(window);
    //$.blockUI({ message: $('#addJob') });
};

function AddJob() {
    $.ajax({
        url: "/Job/AddJQueryJob",
        type: "POST",
        data: ({ name: $("#addJobName").val(), idCompany: $("#_IdCompany").val() }),
        async: false,
        success: function (resp) {
            if (resp.IsExist) {
                $("#addJobComment p").remove();
                $("#addJobComment").append("<p>" + resp.Message + "</p>");
            }
            else {
                $("#ddlJobs option").remove();
                $("#addJobComment p").remove();
                $("#ddlJobs").append("<option value=''>--Wybierz stanowisko--</option>");
                $.each(resp.lstJob, function (index, lst) {
                    $("#ddlJobs").append("<option value='" + lst.Value + "'>" + lst.Text + "</option>");
                });
                $("#addJobName").val('');
                $.unblockUI();
            }
        }
    });
};

function popAddBranchShow() {
    var window = $('#addBranch');
    dialogBox(window);
    //$.blockUI({ message: $('#addBranch') });
};

function AddBranch() {
    $.ajax({
        url: "/Branch/AddJQueryBranch",
        type: "POST",
        data: ({ name: $("#addBranchName").val(), noBranch: $("#addBranchNo").val(), idRegion: $("#ddlPopRegions").val(), idCompany: $("#_IdCompany").val(), idParent: $("#ddlPopBranches").val() }),
        async: false,
        success: function (resp) {
            if (resp.IsExist) {
                $("#addBranchComment p").remove();
                $("#addBranchComment").append("<p>" + resp.Message + "</p>");
            }
            else {
                $("#ddlBranches option").remove();
                $("#ddlPopBranches option").remove();
                $("#addBranchComment p").remove();
                $("#ddlBranches").append("<option value=''>--Wybierz oddział--</option>");
                $("#ddlPopBranches").append("<option value=''>--Wybierz oddział--</option>");
                $.each(resp.lstJob, function (index, lst) {
                    $("#ddlBranches").append("<option value='" + lst.Value + "'>" + lst.Text + "</option>");
                    $("#ddlPopBranches").append("<option value='" + lst.Value + "'>" + lst.Text + "</option>");
                });
                $("#addBranchName").val('');
                $("#addBranchNo").val('');
                $.unblockUI();
            }
        }
    });
};

function popAddDepartmentShow() {
    var window = $('#addDepartment');
    dialogBox(window);
    //$.blockUI({ message: $('#addDepartment') });
};

function AddDepartment() {
    $.ajax({
        url: "/Department/AddJQueryDepartment",
        type: "POST",
        data: ({ name: $("#addDepartmentName").val(), idCompany: $("#_IdCompany").val() }),
        async: false,
        success: function (resp) {
            if (resp.IsExist) {
                $("#addDepartmentComment p").remove();
                $("#addDepartmentComment").append("<p>" + resp.Message + "</p>");
            }
            else {
                $("#ddlDepartments option").remove();
                $("#addDepartmentComment p").remove();
                $("#ddlDepartments").append("<option value=''>--Wybierz dział--</option>");
                $.each(resp.lstDep, function (index, lst) {
                    $("#ddlDepartments").append("<option value='" + lst.Value + "'>" + lst.Text + "</option>");
                });
                $("#addDepartmentName").val('');
                $.unblockUI();
            }
        }
    });
};

function unblock() {
    $.unblockUI();
    return false;
};

</script>

<div class="first pt20 pl10 green grid10">
    <h2>Dodaj użytkownika - @Model.Company.Name</h2>
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)


        <div class="first grid2 pt20 alignRight">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="first grid2 pt20 alignRight">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="first grid2 pt20 alignRight">
            @Html.Label("Stanowisko")
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.DropDownList("ddlJobs", ViewBag.lstJobs as IEnumerable<SelectListItem>, "--Wybierz stanowisko--")             
            <input type="button" onclick="popAddJobShow();" value="Dodaj" />
        </div>

        <div class="first grid2 pt20 alignRight">
            @Html.Label("Oddział")
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.DropDownList("ddlBranches", ViewBag.lstBranches as IEnumerable<SelectListItem>, "--Wybierz oddział--")
            <input type="button" onclick="popAddBranchShow();" value="Dodaj" />
        </div>

        <div class="first grid2 pt20 alignRight">
            @Html.Label("Dział")
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.DropDownList("ddlDepartments", ViewBag.lstDepartments as IEnumerable<SelectListItem>, "--Wybierz dział--")
            <input type="button" onclick="popAddDepartmentShow();" value="Dodaj" />
        </div>

        <div class="first grid2 pt20 alignRight">
            @Html.Label("Kierownik")
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.DropDownList("ddlManagers", ViewBag.lstManagers as IEnumerable<SelectListItem>, "--Wybierz kierownika--")
        </div>

@*        <div class="first grid2 pt20 alignRight">
            @Html.Label("Region")
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.DropDownList("ddlRegions", ViewBag.lstRegions as IEnumerable<SelectListItem>, "--Wybierz region--")
            <input type="button" onclick="popAddRegionShow();" value="Dodaj" />
        </div>*@

        <div class="first grid2 pt20 alignRight">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="first grid2 pt10 alignRight">
            @Html.LabelFor(model => model.IsActive)
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.CheckBoxFor(model => model.IsActive )
        </div>

        <div class="first grid2 pt10 alignRight">
            @Html.Label("Firma")
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.Label(Model.Company.Name)
            @Html.Hidden("_IdCompany", Model.Company.IdCompany, new { @id = "_IdCompany" })
        </div>
        <div class="first grid2 pt20 alignRight">
            
        </div>
        <div class="grid8 pt10 alignLeft">
            <input type="submit" value="Dodaj" />
        </div>

}

<div class="first grid10 pt20 pl10 alignLeft">
    @Html.ActionLink("Powrót do listy wyszukiwania użytkowników", "Index")
</div>


@*POPUPY DO DODAWANIA*@
<div id="addJob" style="display:none;">

    <h4>Dodaj stanowisko</h4>
    <div class="pt10 pr5 alignRight floatLeft width50pc">
        Nazwa stanowiska: 
    </div> 
    <div class="alignLeft floatLeft width50pc ">
        <input type="text" id="addJobName" />
    </div>
    <div class="pt10 pr5 alignRight floatLeft width50pc">
    </div> 
    <div class="alignLeft pt10 floatLeft width50pc ">
        <span id="addJobComment"></span>
    </div>
    <div class="pr5 pb10 alignRight floatLeft width50pc">
        <input type="button" id="btnAddJob" onclick="AddJob();" value="Dodaj" />
    </div> 
    <div class="alignLeft pb10 floatLeft width50pc">
        <input type="button" id="btnCancelJob" onclick="unblock();" value="Anuluj" />
    </div>

</div>

<div id="addBranch" style="display:none;">
    <h4>Dodaj odział</h4>
    <div class="pt10 pr5 alignRight floatLeft width50pc">
        Nazwa oddziału: 
    </div> 
    <div class="alignLeft floatLeft width50pc ">
        <input type="text" id="addBranchName" />
    </div>
    <div class="pt10 pr5 alignRight floatLeft width50pc">
        Numer oddziału:  
    </div> 
    <div class="alignLeft floatLeft width50pc ">
        <input type="text" id="addBranchNo" />
    </div>
    <div class="pt10 pr5 alignRight floatLeft width50pc">
        Region: 
    </div> 
    <div class="alignLeft floatLeft width50pc ">
        @Html.DropDownList("ddlPopRegions", ViewBag.lstRegions as IEnumerable<SelectListItem>, "--Wybierz region--")
    </div>
    <div class="pt10 pr5 alignRight floatLeft width50pc">
        Oddział nadrzędny:
    </div> 
    <div class="alignLeft floatLeft width50pc ">
        @Html.DropDownList("ddlPopBranches", ViewBag.lstBranches as IEnumerable<SelectListItem>, "--Wybierz oddział--")
    </div>
    <div class="pt10 pr5 alignRight floatLeft width50pc">
    </div> 
    <div class="alignLeft pt10 floatLeft width50pc ">
        <span id="addBranchComment"></span>
    </div>
    <div class="pr5 pb10 alignRight floatLeft width50pc">
        <input type="button" id="btnAddBranch" onclick="AddBranch();" value="Dodaj" />
    </div> 
    <div class="pb10 alignLeft floatLeft width50pc">
        <input type="button" id="btnCancelBranch" onclick="unblock();" value="Anuluj" />
    </div>  
</div>

<div id="addDepartment" style="display:none;">
    <h4>Dodaj dział</h4>
    <div class="pt10 pr5 alignRight floatLeft width50pc">
        Nazwa działu:  
    </div> 
    <div class="alignLeft floatLeft width50pc ">
        <input type="text" id="addDepartmentName" />
    </div>
    <div class="pt10 pr5 alignRight floatLeft width50pc">
    </div> 
    <div class="alignLeft pt10 floatLeft width50pc ">
        <span id="addDepartmentComment"></span>
    </div>
    <div class="pb10 pr5 alignRight floatLeft width50pc">
        <input type="button" id="btnAddDepartment" onclick="AddDepartment();" value="Dodaj" />
    </div> 
    <div class="pb10 alignLeft floatLeft width50pc">
        <input type="button" id="btnCancelDepartment" onclick="unblock();" value="Anuluj" />
    </div>
    <br />
    
    
    
</div>

@*POPUPY DO DODAWANIA*@
