﻿@model MvcUserManagement.Models.User

@{
    ViewBag.Title = "Edycja użytkownika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="../../Scripts/jquery.cascadingDropDown.js" type="text/javascript"></script>
<script type="text/javascript">
    function popAddJobShow() {
        var window = $('#addJob');
        dialogBox(window);
        //$.blockUI({ message: $('#addJob') });
    };

    function AddJob() {
        $.ajax({
            url: "/Job/AddJQueryJob",
            type: "POST",
            data: ({ name: $("#addJobName").val(), idCompany: $("#_IdCompany").val() }),
            async: false,
            success: function (resp) {
                if (resp.IsExist) {
                    $("#addJobComment p").remove();
                    $("#addJobComment").append("<p>" + resp.Message + "</p>");
                }
                else {
                    $("#ddlJobs option").remove();
                    $("#addJobComment p").remove();
                    $("#ddlJobs").append("<option value=''>--Wybierz stanowisko--</option>");
                    $.each(resp.lstJob, function (index, lst) {
                        $("#ddlJobs").append("<option value='" + lst.Value + "'>" + lst.Text + "</option>");
                    });
                    $("#addJobName").val('');
                    $.unblockUI();
                }
            }
        });
    };

    function popAddBranchShow() {
        var window = $('#addBranch');
        dialogBox(window);
        //$.blockUI({ message: $('#addBranch') });
    };

    function AddBranch() {
        $.ajax({
            url: "/Branch/AddJQueryBranch",
            type: "POST",
            data: ({ name: $("#addBranchName").val(), noBranch: $("#addBranchNo").val(), idRegion: $("#ddlPopRegions").val(), idCompany: $("#_IdCompany").val(), idParent: $("#ddlPopBranches").val() }),
            async: false,
            success: function (resp) {
                if (resp.IsExist) {
                    $("#addBranchComment p").remove();
                    $("#addBranchComment").append("<p>" + resp.Message + "</p>");
                }
                else {
                    $("#ddlBranches option").remove();
                    $("#ddlPopBranches option").remove();
                    $("#addBranchComment p").remove();
                    $("#ddlBranches").append("<option value=''>--Wybierz oddział--</option>");
                    $("#ddlPopBranches").append("<option value=''>--Wybierz oddział--</option>");
                    $.each(resp.lstJob, function (index, lst) {
                        $("#ddlBranches").append("<option value='" + lst.Value + "'>" + lst.Text + "</option>");
                        $("#ddlPopBranches").append("<option value='" + lst.Value + "'>" + lst.Text + "</option>");
                    });
                    $("#addBranchName").val('');
                    $("#addBranchNo").val('');
                    $.unblockUI();
                }
            }
        });
    };

    function popAddDepartmentShow() {
        var window = $('#addDepartment');
        dialogBox(window);
        //$.blockUI({ message: $('#addDepartment') });
    };

    function AddUserToRole() {
        var idRole = $("#ddlRole").val();
        $.ajax({
            url: "/Home/AddUserToRole",
            type: "POST",
            data: ({ idRole: idRole, idUser: $("#IdUser").val() }),
            async: false,
            success: function (resp) {
                if (resp.isOK) {
                    $("#tblUserRoles tbody:last").prepend("<tr id='roleRow" + resp.roleId + "'>" +
                    "<td>" + resp.roleName + "</td>" +
                    "<td>" + resp.appName + "</td>" +
                    "<td>" + resp.date + "</td>" +
                    "<td><input type=\'button\' onclick=\'DeleteUserRolePopup(" + resp.roleId + ", \" " + resp.roleName + "\");\' value=\'Usuń\'></td></tr>");
                } else {
                    $.blockUI({ message: '<div><h4>Użytkownik już jest przypisany do tej roli</h4></div>' });
                    setTimeout($.unblockUI, 2000); 
                }
            }
        });
    }

    function DeleteUserRolePopup(idUserRole, roleName) {
        $("#spanRoleDelete").empty();
        $("#spanRoleDelete").append(roleName);
        $("#hdnRoleToRemove").val(idUserRole);
        var window = $('#removeFromRole');
        dialogBox(window);
        //$.blockUI({ message: $('#removeFromRole') });
    }

    function DeleteUserRole() {
        var idRoleToRemove = $("#hdnRoleToRemove").val();
        $.ajax({
            url: "/Home/DeleteUserFromRole",
            type: "POST",
            data: ({ idUserRole: idRoleToRemove }),
            async: false,
            success: function () {
                $("#roleRow" + idRoleToRemove).remove();
                $.unblockUI();
            }
        });
    }

    function AddDepartment() {
        $.ajax({
            url: "/Department/AddJQueryDepartment",
            type: "POST",
            data: ({ name: $("#addDepartmentName").val(), idCompany: $("#_IdCompany").val() }),
            async: false,
            success: function (resp) {
                if (resp.IsExist) {
                    $("#addDepartmentComment p").remove();
                    $("#addDepartmentComment").append("<p>" + resp.Message + "</p>");
                }
                else {
                    $("#ddlDepartments option").remove();
                    $("#addDepartmentComment p").remove();
                    $("#ddlDepartments").append("<option value=''>--Wybierz dział--</option>");
                    $.each(resp.lstDep, function (index, lst) {
                        $("#ddlDepartments").append("<option value='" + lst.Value + "'>" + lst.Text + "</option>");
                    });
                    $("#addDepartmentName").val('');
                    $.unblockUI();
                }
            }
        });
    };

    function unblock() {
        $.unblockUI();
        return false;
    };


    $(document).ready(function() {


        /* Obsługa kaskadowego dropdowna z Użytkownikami*/
        $("#ddlRole").CascadingDropDown("#ddlApplication", "/Home/AsyncRoles",
            {
                promptText: "-- Wybierz uprawnienie--",
                loadingText: "--Wczytuję informację--",
                postData: function() {
                    return { idApplication: $("#ddlApplication").val() };
                },

                onLoading: function() {
                    $(this).css("background-color", "#ff33");
                },
                onLoaded: function() {
                    $(this).animate({ backgroundColor: "#ffffff" }, 300);
                }
            });

        /* Ukrywanie i pokazywanie przycisku Dodaj Dla ReportingTeam*/
            $("#ddlRole").change(function () {
            if ($(this).val() != "") {
                $("#btnAddRole").show("fast");
            } else {
                $("#btnAddRole").hide("fast");
            }

        });
    });



</script>

<div class="first pt20 pl10 green grid10">
    <h2>Edycja użytkownika - @Model.Company.Name</h2>
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)


        @Html.HiddenFor(model => model.IdUser)

        <div class="first grid2 pt20 alignRight">
            @Html.Label("Imię")
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="first grid2 pt20 alignRight">
            @Html.Label("Nazwisko")
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="first grid2 pt20 alignRight">
            @Html.Label("Stanowisko")   
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.DropDownList("ddlJobs", ViewBag.lstJobs as IEnumerable<SelectListItem>, "--Wybierz stanowisko--")

            @if (!Model.Company.DGAImport)
            { 
                <input type="button" onclick="popAddJobShow();" value="Dodaj" />
            }
        </div>

        <div class="first grid2 pt20 alignRight">
            @Html.Label("Oddział")
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.DropDownList("ddlBranches", ViewBag.lstBranches as IEnumerable<SelectListItem>, "--Wybierz oddział--")
            @if (!Model.Company.DGAImport)
            { 
                <input type="button" onclick="popAddBranchShow();" value="Dodaj" />
            }
        </div>

        <div class="first grid2 pt20 alignRight">
            @Html.Label("Dział")
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.DropDownList("ddlDepartments", ViewBag.lstDepartments as IEnumerable<SelectListItem>, "--Wybierz dział--")
            @if (!Model.Company.DGAImport)
            { 
                <input type="button" onclick="popAddDepartmentShow();" value="Dodaj" />
            }
        </div>

        <div class="first grid2 pt20 alignRight">
            @Html.Label("Managers")
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.DropDownList("ddlManagers", ViewBag.lstManagers as IEnumerable<SelectListItem>, "--Wybierz kierownika--")

        </div>

        <div class="first grid2 pt10 alignRight">
            @Html.Label("Data utworzenia")
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.Label(Model.CreateDate.ToString())
            @Html.ValidationMessageFor(model => model.CreateDate)
            
        </div>

        <div class="first grid2 pt20 alignRight">
            @Html.Label("Email")
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="first grid2 pt10 alignRight">
            @Html.Label("Aktywny")
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.CheckBoxFor(model => model.IsActive)
        </div>

        <div class="first grid2 pt10 alignRight">
            @Html.Label("Firma")
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.Label(Model.Company.Name)
            @Html.Hidden("_IdCompany", Model.Company.IdCompany, new { @id = "_IdCompany" })
        </div>

        <div class="first grid2 pt10 alignRight">
            @Html.Label("SimpleID")
        </div>
        <div class="grid8 pt10 alignLeft">
            @Html.Label(Model.SimpleID.ToString())
            
        </div>
        <div class="first grid2 pt20 alignRight">

        </div>
        <div class="grid8 pt10 alignLeft">
            <input type="submit" value="Zapisz" />
        </div>
}

<div class="first green grid10 pt20 pl10 alignLeft">
    <h2>Uprawnienia nadawane dla użytkownika</h2>
</div>

<div class="first grid2 pt20 alignRight">
    Nadaj uprawnienia:
</div>
<div class="grid11 pt10 alignLeft">
    @Html.DropDownList("ddlApplication", ViewBag.lstApplications as IEnumerable<SelectListItem>, "--Wybierz aplikację--")
    <select id="ddlRole" name="ddlRole"></select> 
    <input id="btnAddRole" name="btnAddRole" type="button" onclick="AddUserToRole();" style="display:none;" value="Dodaj" />
</div>



<div class="first grid10 pt20 pl10 pb15">
    <table id="tblUserRoles" class=" pl10" style="clear: both;width: 967px">
    <thead>
        <tr class="green">
            <th>
                Nazwa uprawnienia
            </th>
            <th>
                Aplikacja
            </th>
            <th >
                Data nadania 
            </th>
            <th>
                Usuń
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in (IOrderedQueryable<MvcUserManagement.Models.UserRole>)ViewBag.lstUserRoles)
    {
        <tr id="roleRow@(item.IdUserRole)">

            <td>
                @item.Role.Name
            </td>
            <td>
                @item.Role.Application.Name
            </td>
            <td>
                @item.FromDate
            </td>
            <td>
                <input type="button" onclick="DeleteUserRolePopup(@(item.IdUserRole), '@(item.Role.Name)');" value="Usuń"/>
            </td>
        </tr>
    }
    </tbody>
</table>

</div>
<div class="first grid10 pt20 pl10 pb35 alignLeft">
    @Html.ActionLink("Powrót do listy wyszukiwania użytkowników", "Index")
</div>
<br class="clear"/>


@*POPUPY DO DODAWANIA*@
<div id="addJob" style="display:none;">

    <h4>Dodaj stanowisko</h4>
    <div class="pt10 pr5 alignRight floatLeft width50pc">
        Nazwa stanowiska: 
    </div> 
    <div class="alignLeft floatLeft width50pc ">
        <input type="text" id="addJobName" />
    </div>
    <div class="pt10 pr5 alignRight floatLeft width50pc">
    </div> 
    <div class="alignLeft pt10 floatLeft width50pc ">
        <span id="addJobComment"></span>
    </div>
    <div class="pb10 pr5 alignRight floatLeft width50pc">
        <input type="button" id="btnAddJob" onclick="AddJob();" value="Dodaj" />
    </div> 
    <div class="pb10 alignLeft floatLeft width50pc">
        <input type="button" id="btnCancelJob" onclick="unblock();" value="Anuluj" />
    </div>

</div>

<div id="addBranch" style="display:none;">
    <h4>Dodaj odział</h4>
    <div class="pt10 pr5 alignRight floatLeft width50pc">
        Nazwa oddziału: 
    </div> 
    <div class="alignLeft floatLeft width50pc ">
        <input type="text" id="addBranchName" />
    </div>
    <div class="pt10 pr5 alignRight floatLeft width50pc">
        Numer oddziału:  
    </div> 
    <div class="alignLeft floatLeft width50pc ">
        <input type="text" id="addBranchNo" />
    </div>
    <div class="pt10 pr5 alignRight floatLeft width50pc">
        Region: 
    </div> 
    <div class="alignLeft floatLeft width50pc ">
        @Html.DropDownList("ddlPopRegions", ViewBag.lstRegions as IEnumerable<SelectListItem>, "--Wybierz region--")
    </div>
    <div class="pt10 pr5 alignRight floatLeft width50pc">
        Oddział nadrzędny:
    </div> 
    <div class="alignLeft floatLeft width50pc ">
        @Html.DropDownList("ddlPopBranches", ViewBag.lstBranches as IEnumerable<SelectListItem>, "--Wybierz oddział--")
    </div>
    <div class="pt10 pr5 alignRight floatLeft width50pc">
    </div> 
    <div class="alignLeft pt10 floatLeft width50pc ">
        <span id="addBranchComment"></span>
    </div>
    <div class="pb10 pr5 alignRight floatLeft width50pc">
        <input type="button" id="btnAddBranch" onclick="AddBranch();" value="Dodaj" />
    </div> 
    <div class="pb10 alignLeft floatLeft width50pc">
        <input type="button" id="btnCancelBranch" onclick="unblock();" value="Anuluj" />
    </div>  
</div>

<div id="addDepartment" style="display:none;">
    <h4>Dodaj dział</h4>
    <div class="pt10 pr5 alignRight floatLeft width50pc">
        Nazwa działu:  
    </div> 
    <div class="alignLeft floatLeft width50pc ">
        <input type="text" id="addDepartmentName" />
    </div>
    <div class="pt10 pr5 alignRight floatLeft width50pc">
    </div> 
    <div class="alignLeft pt10 floatLeft width50pc ">
        <span id="addDepartmentComment"></span>
    </div>
    <div class="pb10 pr5 alignRight floatLeft width50pc">
        <input type="button" id="btnAddDepartment" onclick="AddDepartment();" value="Dodaj" />
    </div> 
    <div class="pb10 alignLeft floatLeft width50pc">
        <input type="button" id="btnCancelDepartment" onclick="unblock();" value="Anuluj" />
    </div>
    <br />
    
    
    
</div>

@*POPUPY DO DODAWANIA*@

@*POPUPY DO UPRAWNIEN*@
<div id="removeFromRole" style="display:none;">
    <h4>Czy na pewno usunąć użytkownika z listy uprawnień: <span id="spanRoleDelete"></span></h4>
    <div class="pb10 pr5 alignRight floatLeft width50pc">
        <input type="hidden" id="hdnRoleToRemove" value=""/>
        <input type="button" id="btnAddJob" onclick="DeleteUserRole();" value="Usuń" />
    </div> 
    <div class="pb10 alignLeft floatLeft width50pc">
        <input type="button" id="btnCancelJob" onclick="unblock();" value="Anuluj" />
    </div>
</div>
@*POPUPY DO UPRAWNIEN*@