﻿@model IQueryable<MvcUserManagement.Models.User>
@{
    ViewBag.Title = "Użytkownicy";
}

<script type="text/javascript">
    function findUser() {
        $.ajax({
            url: "/Home/GetUsersList",
            type: "POST",
            data: ({ name: $("#tbxLastName").val(), idCompany: $("#ddlCompany").val(), toTake: $("#Count").val() }),
            async: false,
            success: function (resp) {
                deleteTableRows("tblUsers");
                $.each(resp.userList, function (index, user) {
                    var checked = "";
                    if (user.IsActive) {
                        checked = "checked='checked'";
                    }

                    $("#tblUsers tbody").append("<tr><td>" + user.Id + "</td><td><a href='Home/EditUser?idUser=" + user.Id + "'> " + user.LastName + "</a></td><td>" +
                    user.FirstName + "</td><td>" + user.Job + "</td><td>" + user.ManagerLastName + " " + user.ManagerFirstName + "</td><td>" +
                    user.Branch + " - " + user.NoBranch + "</td>" + "</td><td>" + user.Department + "</td>" + "<td><input type='checkbox' " + checked + " value='" + user.IsActive + "' disabled='disabled'/></td>" +
                    "</tr>");

                });
                addPaging(1, resp.count);
            }
        });
    };

    function deleteTableRows(tableName) {
        $("#" + tableName + " tbody tr").remove();
        $("#tblUsersPaging").empty();
    };

    function getPage(pageNo) {
        $.ajax({
            url: "/Home/GetNextPage",
            type: "POST",
            data: ({ name: $("#tbxLastName").val(), idCompany: $("#ddlCompany").val(), toTake: $("#Count").val(), page: pageNo }),
            async: false,
            success: function (resp) {
                deleteTableRows("tblUsers");
                $.each(resp.userList, function (index, user) {
                    var checked = "";
                    if (user.IsActive) {
                        checked = "checked='checked'";
                    }

                    $("#tblUsers tbody").append("<tr><td>" + user.Id + "</td><td><a href='Home/EditUser?idUser=" + user.Id + "'> " + user.LastName + "</a></td><td>" +
                    user.FirstName + "</td><td>" + user.Job + "</td><td>" + user.ManagerLastName + " " + user.ManagerFirstName + "</td><td>" +
                    user.Branch + " - " + user.NoBranch + "</td>" + "</td><td>" + user.Department + "</td>" + "<td><input type='checkbox' " + checked + " value='" + user.IsActive + "' disabled='disabled'/></td>" +
                    "</tr>");

                });
                addPaging(pageNo, resp.count);
            }
        });
    };

    function addPaging(pageNumber, counter) {
        var paging = "<a href='#' onclick='getPage(1)'><<</a>";

        var i = (parseInt(pageNumber / 10) * 10);
        var tempCounter = (parseInt(pageNumber / 10) * 10) + 9;
        if (tempCounter > counter) {
            tempCounter = counter;
        }
        if (i >= 10) {
            paging += "<a href='#' onclick='getPage(" + (i - 1) + ")'>...</a>";
        }
        for (i; i <= tempCounter; i++) {
            if (i > 0) {
                if (i == pageNumber) {
                    paging += "<a href='#' onclick='getPage(" + i + ")' style='color:#EB922D;'>" + i + "</a> ";
                } else {
                    paging += "<a href='#' onclick='getPage(" + i + ")'>" + i + "</a> ";
                }

                if (i != counter) {
                    paging += "| ";
                }
            }
        }
        if (i < counter) {
            paging += "<a href='#' onclick='getPage(" + i + ")'>...</a>";
            paging += "<a href='#' onclick='getPage(" + counter + ")'>>></a>";
        }
        $("#tblUsersPaging").empty();
        $("#tblUsersPaging").append(paging + "</a>");
        $("#tblUsers").tableScroll({ height: 450, width: 950 });
    }

    function submitenter(myfield, e) {
        var keycode;
        if (window.event) keycode = window.event.keyCode;
        else if (e) keycode = e.which;
        else return true;

        if (keycode == 13) {
            findUser();
            return false;
        }
        else
            return true;
    };

    function canAddUser(companyId) {
        $.ajax({
            url: "/Home/CanAddUser",
            type: "POST",
            data: ({ idCompany: companyId }),
            async: false,
            success: function (resp) {
                if (resp.responce) {

                    $("#divAddUser").empty();
                    $("#divAddUser").append("<input type='button' id='addNewUser' onclick='addUser(" + companyId + ");' value='Dodaj użytkownika'/>");
                }
                else {
                    $("#divAddUser").empty();
                }
            }
        });
    };

    function addUser(companyId) {
        window.location.href = "/Home/AddUser?idCompany=" + companyId;
    };

    jQuery(document).ready(function () {
        $("#ddlCompany").selectbox();
        $("#Count").selectbox();
        
        $("#ddlCompany").change(function () {
            deleteTableRows("tblUsers");
            canAddUser($("#ddlCompany").val());
        });
    });


</script>


@*@{Html.RenderPartial("_messageBox");}*@

<div class="first grid3 pt10 alignRight">
    <p>Wybierz firmę:</p>
</div>
<div class="grid3 pt10 alignLeft">
    @Html.DropDownList("ddlCompany", ViewBag.lstCompanies as IEnumerable<SelectListItem>, "--Wybierz firmę--")
</div>
<div class="first grid3 pt10 alignRight">

</div>
<div id="divAddUser" class="grid3 pt10 alignLeft">

</div>


<div class="first grid3 pt10 alignRight">
    <p>Wyszukaj po nazwisku:</p>
</div>
<div class="grid3 pt10 alignLeft">
    @Html.TextBox("tbxLastName", null, new { onKeyPress = "return submitenter(this,event)" })
</div>

<div class="first grid3 pt10 alignRight">

</div>
<div class="grid3 pt10 alignLeft">
    <input id="btnWyszukaj" name="btnWyszukaj" onclick="findUser()" type="button" value="Wyszukaj"/>
</div>
<div class="first grid3 pt10 alignRight">
    <p>ilość wyświetleń:</p>
</div>
<div class="grid3 pt10 pb20 alignLeft">
    <select id="Count" >
        <option value=50>50</option>
        <option value=100>100</option>
        <option value=250>250</option>
        <option value=0>Wszystko</option>
    </select>
</div>

<table id="tblUsers" class=" pl10" style="clear: both;width: 967px">
    <thead>
        <tr class="green">
            <th>
                Pager
            </th>
            <th>
                Nazwisko
            </th>
            <th >
                Imie
            </th>
            <th>
                Stanowisko
            </th>
            <th>
                Kierownik
            </th>
            <th>
                Oddział
            </th>
            <th>
                Dział
            </th>
            <th>
                Aktywny
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<div id="tblUsersPaging" class="pb40 pl10 pt10"></div>


