﻿@{
    ViewBag.Title = "Lista stanowisk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function findJob() {
        $.ajax({
            url: "/Job/GetJobsList",
            type: "POST",
            data: ({ name: $("#tbxJobName").val(), idCompany: $("#ddlCompany").val(), toTake: $("#Count").val() }),
            async: false,
            success: function (resp) {
                deleteTableRows("tblJobs");
                $.each(resp.jobList, function (index, job) {
                    checkedActive = "";
                    if (job.IsActive) { checkedActive = "checked='checked'" }

                    $("#tblJobs tbody").append("<tr><td><a href='Job/EditJob?idJob=" + job.IdJob + "'> " + job.Name + "</a></td>" +
                    "<td><input type='checkbox' " + checkedActive + " value='" + job.IsActive + "' disabled='disabled'/></td>" +
                    "</tr>");

                });
                addPaging(1, resp.count);
            }
        });
    };

    function deleteTableRows(tableName) {
        $("#" + tableName + " tbody tr").remove();
        $("#tblJobsPaging").empty();
    };

    function getPage(pageNo) {
        $.ajax({
            url: "/Job/GetNextPage",
            type: "POST",
            data: ({ name: $("#tbxJobName").val(), idCompany: $("#ddlCompany").val(), toTake: $("#Count").val(), page: pageNo }),
            async: false,
            success: function (resp) {
                deleteTableRows("tblJobs");
                $.each(resp.jobList, function (index, job) {
                    checkedActive = "";
                    if (job.IsActive) { checkedActive = "checked='checked'" }

                    $("#tblJobs tbody").append("<tr><td><a href='Job/EditJob?idJob=" + job.IdJob + "'> " + job.Name + "</a></td>" +
                    "<td><input type='checkbox' " + checkedActive + " value='" + job.IsActive + "' disabled='disabled'/></td>" +
                    "</tr>");

                });
                addPaging(pageNo, resp.count);
            }
        });
    };

    function addPaging(pageNumber, counter) {
        var paging = "<a href='#' onclick='getPage(1)'><<</a>";

        var i = (parseInt(pageNumber / 10) * 10);
        var tempCounter = (parseInt(pageNumber / 10) * 10) + 9;
        if (tempCounter > counter) {
            tempCounter = counter;
        }
        if (i >= 10) {
            paging += "<a href='#' onclick='getPage(" + (i - 1) + ")'>...</a>";
        }
        for (i; i <= tempCounter; i++) {
            if (i > 0) {
                if (i == pageNumber) {
                    paging += "<a href='#' onclick='getPage(" + i + ")' style='color:#EB922D;'>" + i + "</a> ";
                } else {
                    paging += "<a href='#' onclick='getPage(" + i + ")'>" + i + "</a> ";
                }

                if (i != counter) {
                    paging += "| ";
                }
            }
        }
        if (i < counter) {
            paging += "<a href='#' onclick='getPage(" + i + ")'>...</a>";
            paging += "<a href='#' onclick='getPage(" + counter + ")'>>></a>";
        }
        $("#tblJobsPaging").empty();
        $("#tblJobsPaging").append(paging + "</a>");
        $("#tblJobs").tableScroll({ height: 450, width: 950 });
    }


    function submitenter(myfield, e) {
        var keycode;
        if (window.event) keycode = window.event.keyCode;
        else if (e) keycode = e.which;
        else return true;

        if (keycode == 13) {
            findJob();
            return false;
        }
        else
            return true;
    };

    function canAddUser(CompanyId) {
        $.ajax({
            url: "/Home/CanAddUser",
            type: "POST",
            data: ({ idCompany: CompanyId }),
            async: false,
            success: function (resp) {
                if (resp.responce) {

                    $("#divAddJob").empty();
                    $("#divAddJob").append("<input type='button' id='addNewJob' onclick='addJob(" + CompanyId + ");' value='Dodaj stanowisko'/>");
                }
                else {
                    $("#divAddJob").empty();
                }
            }
        });
    };

    function addJob(CompanyId) {
        window.location.href = "/Job/AddJob?idCompany=" + CompanyId;
    };

    jQuery(document).ready(function () {
        $("#ddlCompany").selectbox();
        $("#Count").selectbox();
        $("#ddlCompany").change(function () {
            deleteTableRows("tblJobs");
            canAddUser($("#ddlCompany").val());
        });
    });

</script>

@*@{Html.RenderPartial("_messageBox");}*@

<div class="first grid3 pt10 alignRight">
    <p>Wybierz firmę:</p>
</div>
<div class="grid3 pt10 alignLeft">
    @Html.DropDownList("ddlCompany", ViewBag.lstCompanies as IEnumerable<SelectListItem>, "--Wybierz firmę--")
</div>
<div class="first grid3 pt10 alignRight">

</div>
<div id="divAddJob" class="grid3 pt10 alignLeft">

</div>


<div class="first grid3 pt10 alignRight">
    <p>Wyszukaj po nazwie:</p>
</div>
<div class="grid3 pt10 alignLeft">
    @Html.TextBox("tbxJobName", null, new { onKeyPress = "return submitenter(this,event)" })
</div>

<div class="first grid3 pt10 alignRight">

</div>
<div class="grid3 pt10 alignLeft">
    <input id="btnWyszukaj" name="btnWyszukaj" onclick="findJob()" type="button" value="Wyszukaj" />
</div>
<div class="first grid3 pt10 alignRight">
    <p>ilość wyświetleń:</p>
</div>
<div class="grid3 pt10 pb20 alignLeft">
    <select id="Count">
        <option value=50>50</option>
        <option value=100>100</option>
        <option value=250>250</option>
        <option value=0>Wszystko</option>
    </select>
</div>

<table id="tblJobs" class=" pl10" style="clear: both;width: 967px">
    <thead>
    <tr class="green">
        <th>
            Nazwa
        </th>
        <th>
            Aktywny
        </th>
    </tr>
    </thead>
    <tbody>


</tbody>
</table>
<div id="tblJobsPaging" class="pb40 pl10 pt10"></div>

